<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFC5dy9ak5JIjeZRdF6QtW-q8Gms4XTsibV-6qmqnSB3tY2gdY" height="30" alt="mdb logo">
  </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">STUDENST-AWARD
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <!-- <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter"></i>
        </a> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g"></i>
        </a> -->
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
      <li>
        <a href="#"><button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button></a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->