<!--Modal: modalPush-->
<div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content text-center">
      {% for awards in awards %}

      <div class="modal-header d-flex justify-content-center">
        <p class="heading">{{ awards.award_name}}</p>
      </div>

      <div class="modal-body">

        <i class="fas fa-trophy fa-4x animated rotateIn mb-4"></i>

        <p>{{awards.description}}</p>

      </div>

      <div class="modal-footer flex-center">
        <a href="https://mdbootstrap.com/products/jquery-ui-kit/" class="btn btn-info">{{awards.pub_date}}</a>
      </div>
    </div>
  </div>
</div>
{% empty %}
<div class="row">
  <h2 class="text-center">There No News Items</h2>
</div>