{%extends 'base.html'%}

<!-- Footer -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  {% block content %}
  <div class="container text-center">
    <h1>Best Computer Science Degrees</h1>
    <hr>
    <p>Some people enter the computer science field with aspirations of changing the world, and some of those who do are rewarded with one or more of the prestigious computer science awards listed below. Of course, you can do plenty of good things
      for
      your field without being publicly recognized for it, but it is always nice when incredible accolades such as these are provided.</p>
    <div class="row">

      <div class="column">
        <h3>Turing Award</h3>
        <p>This is arguably the most prestigious of these awards; in fact, many refer to it as the Nobel Prize of computing. It also comes with a prize of $1 million. These accolades have been awarded since 1966, and they are provided to someone who
          contributed to the field with something of “lasting and major technical importance.” It is named for Alan Turing, the person who is described as the founder of computer science. The first Turing Award was presented to Alan Perlis, the head
          of
          the computer science department at Carnegie Institute of Technology, for the work he did helping develop the ALGOL programming language. The Turing Award is presented every June in San Francisco.</p>
      </div>
      <div class="column">
        <h3>Millennium Technology Prize</h3>
        <p>This award also provides recipients with a significant cash prize, €1 million, which is about $1.1 million, making it the largest prize on this list. The Millennium Technology Prize is presented by Technology Academy Finland, which is
          located
          in one of the world’s more high-tech countries. This prize is given to those who enhance people’s lives with “groundbreaking technological innovations.” Its initial recipient, Tim Berners-Lee, invented the World Wide Web. The Millennium
          Technology Prize has been awarded every two years since 2004.</p>
      </div>
      <div class="column">
        <h3>Kyoto Prize in Advanced Technology</h3>
        <p>This honor as well as the Kyoto Prize in Arts and Philosophy and the Kyoto Prize in Basic Sciences have also been referred to as the Nobel Prize in those respective fields. The Kyoto Prize in Advanced Technology is given to individuals who
          have contributed to either biotechnology and medical technology, electronics, information science or materials science and engineering in a significant way. The winners are announced in June while they are presented with the honors in
          November
          in Kyoto, Japan. The winner receives 50 million yen, about $450,000.</p>
      </div>
      <div class="column" style='margin-bottom: 10%;'>
        <h3>IEEE Medal of Honor</h3>
        <p>The IEEE (Institute of Electrical and Electronics Engineers) Medal of Honor has been awarded to those providing “an exceptional contribution or an extraordinary career” in this field since Edwin Howard Armstrong received this prestigious
          set
          of honors, which is judged by many as the field’s lifetime achievement award, in 1917. He developed FM radio on the Columbia University campus in New York. Prospective recipients need to be nominated by July 1, and the recipient is usually
          notified in November and presented with the medal of honor in June.</p>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4 fixed-bottom">

      <!-- Footer Elements -->
      <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> StudentsAward.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    {% endblock %}

</body>

</html>