{% extends 'layout.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="card mb-3 profile-card mt-5" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4 rounded circle">
        <img src="{{ students.student_image.url }}" class="card-img rounded-circle border responsive" alt="..." height="175">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{ student.full_name }}
            <a href="{%  url 'edit' %}" style="text-decoration: none;">
              <button class="btn mx-3">Edit Profile</button>
            </a>
            <button class="btn bg-transparent" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-cog nav-icons"></i></button>
          </h1>
          <p class="card-text">

            <span class="m-3">{{ user.post_set.count }} posts</span>
            <span class="m-3">followers</span>
            <span class="m-3">following</span>
          </p>
          <p class="font-weight-bold">{{ user.profile.name }}</p>
          <p class="">{{ user.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal animated fadeInDown slow rounded" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <a href="/logout">
          <button type="button" class="btn bg-transparent" data-dismiss="modal">Log Out</button>
        </a>
        <hr>
        <a href="#" data-dismiss="modal">
          <button type="button" class="btn bg-transparent">Cancel</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
© 2019 GitHub, Inc.