{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if students %}
    <h2>Found {{ students|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found 0 students for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if students %}
    {% for students in students %}
    <div class="card testimonial-card text-center" style="width: 25%;">

      <!-- Background color -->
      <div class="card-up indigo lighten-1"></div>

      <!-- Avatar -->
      <div class="avatar mx-auto white">
        <img src="{{students.student_image.url}}" class="rounded-circle img-fluid" alt="woman avatar" style='width: 200px; height: 200px;'>
      </div>

      <!-- Content -->
      <div class="card-body">
        <!-- Name -->
        <h4 class="card-title">{{students.full_name}}</h4>
        <hr>
        <button class="btn aqua-gradient">View Profile</button>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}