{% extends 'base.html' %}

{% block content %}
{{block.super}}

<head>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    function copyToClipboard(element) {
      $(element).select();
      document.execCommand("copy");
    }
  </script>
</head>
<div class="container-fluid">
  <!--  -->
  <div class="row">
    {% for students in students %}
    <div class="col-lg-4 col-lg-4 col-lg-4 padding-0 hover ">
      <!-- Rotating card -->
      <div class="card-wrapper">
        <div id="card-1" class="card card-rotating text-center">

          <!-- Front Side -->
          <div class="face front">

            <!-- Avatar -->
            <div class="avatar mx-auto white"><img src="{{students.student_image.url}}" class="rounded-circle" alt="Sample avatar image." style="margin-top: 5%; height: 250px; width:250px; padding: 10px;box-shadow: 5px 10px #888888;"
                data-toggle="modal" data-target="#{{student.id}">
                        </div>
</div>

            <!-- Content -->
            <div class="card-body">
                  <h4 class="font-weight-bold mb-3">{{students.student_name}}</h4>
                  <p class=" font-weight-bold blue-text">{{students.school_name}}</p>
              <!-- Triggering button -->
            </div>
            <a class="color animated fadeInUp" data-toggle="modal" data-target="#myModal">AWARD</a>
          </div>
        </div>
      </div>
      {% empty %}
      {% endfor %}
      <div id="course" class="offset">
        {% for awards in awards %}
        <div id="myModal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

          <div class="modal-dialog modal-dialog-centered container text-center" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h3 class="modal-title justify-content-center" id="exampleModalLongTitle" style="color: #637C33"><strong class='text-center'>{{awards.award_name}}</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container text-center">
                  <div class="row">
                    <p>{{awards.description}}</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <p style="color: #637C33">Choose the module that you want to pay fees for!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  {% endfor %}
</div>
{% endblock %}