{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="{{profile.profile_photo.url}}" alt="bikcha" width="150px" height="150px" class="rounded-circle">
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="yass">
        <div class="ok">
          <b>
            <p>{{profile.username}}</p>
          </b>
        </div>
        <div class="button">
          <a href="#" style="border:1px solid lightgrey;border-radius:2px;color:black;text-decoration:none">Edit profile</a>
        </div>
        <div class="cog">
          <i class="fas fa-cog"></i>
        </div>
      </div><br><br>
      <h2>Bio</h2>
      {{profile.bio}}
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    {%for post in posts%}

    <div class="card" style="width:18rem">
      <img src="{{post.image.url}}" alt="told ya" width="100%">
    </div>


    {%endfor%}
  </div>
</div>


{% endblock %}