{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
      <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="card p-5">

        <div class="card-header">
          <h3 class="">Sign In</h3>
        </div>
        <div class="card-body">

          <form action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            <div class="form-group">
              <input type="submit" class="btn btn-success btn-md" value="LOGIN">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <div class="card-footer mt-5">
            <p class="text-muted">Need an account?</p>
            <a class="float-right" href="/accounts/register">
              <input type="submit" class="btn btn-danger btn-md" value="SIGN UP">
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- empty div -->
  <div class="col-md-4"></div>
</div>
</div>

{% endblock %}