<nav class="navbar container-fluid navbar-expand-lg navbar-dark bg-secondary pt-3 sticky-top" >
    <div class="col-md-2"></div>
        <li class="list-unstyled font-weight-bold ">
            <a class="navbar-brand  nav-link" href="{% url 'home'%} "></a>
        </li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
    
          <h2 class="text-center">WELCOME TO STUDENTS AWARD</h2>
      </div>
      <div class="col-md-2"></div>
    </nav>